% rebase('templates/base.html')


<h2 class="sub-header">CNINFO 问答</h2>


<table class="tablesorter">
    <thead>
        <tr>
            <th>提问</th>
            <th>回答</th>
            <th>链接</th>
        </tr>
    </thead>
    <tbody>
        % for r in rs:
            <tr data-id="{{ r.id }}" >
                <td>{{ !r.question_show }}</td>
                <td>{{ !r.answer_show }}</td>
                <td><a href="{{ r.url }}" target="_blank">{{ r.url }}</a></td>
            </tr>
        % end
    </tbody>
</table>



<script>
    $("#cninfo").addClass('active')
    $(".tablesorter").tablesorter({
        widgets: ['zebra']
    })
    
    $(function(){

    })

</script>
