% rebase('templates/base.html')


<h2 class="sub-header">抓取数据</h2>

<li>
    <a href="http://irm.cninfo.com.cn/ircs/sse/sseSubIndex.do?condition.type=5" target="_blank">
        http://irm.cninfo.com.cn/ircs/sse/sseSubIndex.do?condition.type=5
    </a>
</li>
<li>
    <a href="http://sns.sseinfo.com/" target="_blank">
        http://sns.sseinfo.com/
    </a>
</li>
<li>
    <a href="http://www.taoguba.com.cn/index?blockID=1" target="_blank">
        http://www.taoguba.com.cn/index?blockID=1
    </a>
</li>
<p>自动循环抓取最新回答数据</p>

<button type="button" class="btn btn-primary" id="start" style="margin-top:20px">启动爬虫</button>




<table class="tablesorter">
    <thead>
        <tr>
            <th>站点</th>
            <th>标题</th>
            <th>回答</th>
            <th>采集时间</th>
            <th>链接</th>
        </tr>
    </thead>
    <tbody id="output">
        <!-- output.html goes here -->
    </tbody>
</table>



<script>
    $("#index").addClass('active')
    
    $(function(){
        function get_data(){
            $.ajax({
                url: '/get_data?t=' + (new Date().getTime()),
            })
            .done(function(msg) {
                $("#output").append(msg)
                $(".tablesorter").tablesorter({
                    widgets: ['zebra']
                })

                var visable = $("#toggle_keyword").attr("data-visible")
                if(visable == "none"){
                  $(".none_keyword").hide()
                }
                else{
                  $(".none_keyword").show()
                }

                scroll(0, 500000)
            })
            
        }

        $("#start").click(function() {
            $("#start").remove()
            get_data()
            setInterval(get_data, {{ interval }} * 1000)
        })

        $(".tablesorter").tablesorter({
            widgets: ['zebra']
        })

    })
</script>
