% rebase('templates/base.html')


<h2 class="sub-header">SSEINFO 问答</h2>


<table class="tablesorter">
    <thead>
        <tr>
            <th>提问</th>
            <th>回答</th>
            <!--<th>链接</th>-->
        </tr>
    </thead>
    <tbody>
        % for r in rs[:100]:
            <tr data-id="{{ r.id }}" >
                <td>{{ !r.question_show }}</td>
                <td>{{ !r.answer_show }}</td>
                <!--<td><a href="{{ r.url }}" target="_blank">{{ r.url }}</a></td>-->
            </tr>
        % end
    </tbody>
</table>



<script>
    $("#sseinfo").addClass('active')
    $(".tablesorter").tablesorter({
        widgets: ['zebra']
    })
    
    $(function(){
        alert("此为测试版，只保留最新的100条记录")
    })

</script>
