% rebase('templates/base.html')


<h2 class="sub-header">SSEINFO 问答</h2>


<table class="tablesorter">
    <thead>
        <tr>
            <th>提问</th>
            <th>回答</th>
            <th>采集时间</th>
            <!--<th>链接</th>-->
        </tr>
    </thead>
    <tbody>
        % for r in rs:
            <tr data-id="{{ r.id }}" class="{{ r.keyword_class }}">
                <td>{{ !r.question_show }}</td>
                <td>{{ !r.answer_show }}</td>
                <td style="width:110px">{{ !r.time }}</td>
                <!--<td><a href="{{ r.url }}" target="_blank">{{ r.url }}</a></td>-->
            </tr>
        % end
    </tbody>
</table>



<script>
    $("#sseinfo").addClass('active')
    $(".tablesorter").tablesorter({
        widgets: ['zebra']
    })
    

</script>
